body {
    margin: 5;
    font-family: Arial, Helvetica;
  }

  #navi{
   font-size: 20px;
  }
  
  .topnav {
    overflow: hidden;
    background-color:#191970;
  }
  
  .topnav a {
    float: right;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    font-size: 17px;
  }
  
  .logo{
    float: left;
  }
  .nav-item a:hover{
    color: lightslategray;
  }

  .animation{
  width: 200px;
  height: 100px;
  position: relative;
  animation: example 5s infinite;
  }
  
  @keyframes example {
    0%   { left:0px; top:0px;}
    50%  { left:800px ; top:0px;}
    100% { left:0px; top:0px;}
  }

#heart{
  animation: herat 5s linear infinite;
}   
@keyframes  herat{
  0%{
    transform: scale(0.75);
  }
  20%{
    transform: scale(1);
  }
  40%{
    transform: scale(0.75);
  }
  80%{
    transform: scale(1);
  }
  100%{
    transform: scale(0.75);
  }
}
.x{
 margin-left:7%;
}

 
  .headding{
    text-align: center;
    font-family: 'Bangers', cursive;
  }
 /* here all the report of the corona */

#report{
     text-align: center;
     margin: 35px;
     border-radius: 15px;
     padding: 5px;
     
 }

 /* Corona Symtoms....    */
 .corona-symtoms-font{
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 40px;
  margin: 20px;
 }
 .symtoms_font{
   font-family: fantasy;
   font-size: 17px;
   text-align: center;
   margin-right: 10px;
 }

 .symtoms_font_content{
  font-family: 'Hind Madurai', sans-serif;
  font-size: 20px;
  margin: 10px;

 }

 #prevention-margin{
   margin: 20px;
 }

#topbtn{
  display: none;
  position: fixed;
  bottom:30px;
  right: 40px;
  z-index: 99;
  border: none;
  outline: none;
  background-color:lightgreen;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
} 
#myBtn {
  
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

#form-bg-color{
  background-color: greenyellow;
}


.corona-report-heading{
  background-color:lightcyan;
}

